.keyboard {
    width: 100%;
}
.key {
    color: white;
    width: 4vh;
    max-width: 8vw;
    height: 5.5vh;
    margin:0.3vh;
    background-color: grey;
    border-radius: 0.25vh;
    text-align: center;
    font-weight: bold;
    font-size: min(4vw, 20px);
}

.backspace {
    margin-left: 4vh;
}

.enter {
    margin-left: max(36px, 7.5vh);
    width: 8vh;
    min-width: 34px;
    font-size: min(4vw, 14px);
}