<ion-header [translucent]="true">

  <ion-toolbar>

    <ion-buttons slot="start">
      <ion-icon class="header-icon start" name="help"></ion-icon>
    </ion-buttons>

    <ion-title>
      W o r d e r
    </ion-title>

    <ion-buttons slot="end">
      <ion-icon class="header-icon" name="stats-chart-sharp"></ion-icon>
    </ion-buttons>

    <ion-buttons slot="end">
      <ion-icon class="header-icon" name="settings-sharp"></ion-icon>
    </ion-buttons>

  </ion-toolbar>

</ion-header>

<ion-content [fullscreen]="true">

  <div class="spacing"></div>

  <app-guesses active="0"></app-guesses>

  

  <div class="spacing"></div>
  
  <app-keyboard></app-keyboard>


</ion-content>
